<div class="container-fluid">

    <div class="row" style="padding: 25px;" ng-init="init()">
        <div class="col-md-4">

        </div>
        <div class="alert alert-success alert-dismissible" role="alert" ng-if="message">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeNotification()">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success ! </strong>{{message}}
        </div>

        <div class="form form-horizontal col-md-4" style="padding: 25px; color: #3276b1">

            <form data-toggle="validator" role="form" name="form" id="form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Register</strong>
                    </div><br>

                    <div class="input-group input-group-lg,form-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>  
                        <input type="text" class="form-control" id="firstName"
                               ng-model="register.firstName" placeholder="First Name" required/>

                    </div>
                    <div class="input-group input-group-lg,form-group">

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span> 
                        <input type="text" class="form-control" id="lastName"
                               ng-model="register.lastName" placeholder="Last Name" required/>
                    </div>
                    <div class="input-group input-group-lg,form-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </span>
                        <input
                            type="number" class="form-control" phone-input id="phoneNumber"
                            ng-model="register.phoneNumber" placeholder="Phone Number" required/>
                    </div>
                    <div class="input-group input-group-lg,form-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                        <input type="email" class="form-control" id="email"
                               ng-model="register.email" placeholder="Email" required/>
                    </div>

                    <div class="input-group input-group-lg,form-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" id="password"
                               ng-model="register.password" placeholder="Password" required/>
                    </div>
                    
                    <div class="input-group input-group-lg,form-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" id="cofirmPassword"
                               ng-model="register.confirmPassword" placeholder="Confirm Password" required/>
                    </div><br>
                    

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <button type="reset" value="Reset" class="btn btn-info" role="button">Reset</button>
                            </div>
                            <div class="col-md-6 text-left">
                                <button class="btn btn-success" ng-click="save(form)"role="button">Register</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>